<div class="jumbotron">
  <h1 class="display-4"> <strong><%= @bookitem.bookname %> </strong></h1>
  <p class="lead">Bookname:
  <strong> <%= @bookitem.bookname %></strong></p>
  
  <p class="lead">Price:
  <strong><%= @bookitem.price %></strong></p>
   <p class="lead">Author:
   <strong>  <%= @bookitem.author %></strong></p>
   <br/>
   
  <p class="lead">
<%= link_to 'Edit', edit_bookitem_path(@bookitem) %> |
<%= link_to 'Back', bookitems_path %>

  </p>
</div>


